{% extends 'base.html'%}

{% block content %}
<h3>Edit Category</h3>
<div class="row">
    <form action="{{ url_for('update_category', category_id=category._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                <input id="category_name" name="category_name" type="text" class="validate" value="{{category.category_name}}">
                <label for="category_name">Category Name</label>
            </div>
        </div>
    </form>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Save Changes
                <i class="material-icons right">playlist_add</i>
             </button>
            <a href="{{ url_for('get_categories') }}" class="waves-effect waves-light btn grey">
                <i class="material-icons right">cancel</i>Cancel
            </a>
        </div>
    </form>
</div>
{% endblock %}