{% extends 'base.html'%} {% block content %}

<div class="row">

    <h3>Categories</h3>
    <ul class="collapsible" data-collapsible="accordion">
        {% for category in categories %}
        <li>
            <div class="collapsible-header">
                <form action="{{url_for('delete_category', category_id=category._id)}}" method="POST">
                    <button type="submit" class="waves-effect waves-light btn btn_small">Del</button>
                </form>
                <a href="" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    
                <div class="task_header">
                    <strong>{{category.category_name}}</strong>
                </div>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
<div class="row">
    <a href="{{url_for('add_category')}}" class="waves-effect waves-light btn">
        <i class="material-icons right">playlist_add</i>Add Category
    </a>
</div>
{% endblock %}